In [1]:
# import necessary packages
!pip install wbdata
!pip install CFEDemands
!pip install pint

import ndb
import pandas as pd
import warnings
from  scipy.optimize import linprog as lp
import numpy as np
import wbdata

Requirement already satisfied: wbdata in /anaconda3/lib/python3.6/site-packages (0.2.7)
Requirement already satisfied: decorator in /anaconda3/lib/python3.6/site-packages (from wbdata) (4.3.0)
Requirement already satisfied: CFEDemands in /anaconda3/lib/python3.6/site-packages (0.1.6.4)
Requirement already satisfied: pint in /anaconda3/lib/python3.6/site-packages (0.9)

In [2]:
!pip install CFEDemands --upgrade
!pip install xarray

Requirement already up-to-date: CFEDemands in /anaconda3/lib/python3.6/site-packages (0.1.6.4)
Requirement already satisfied: xarray in /anaconda3/lib/python3.6/site-packages (0.12.1)
Requirement already satisfied: numpy>=1.12 in /anaconda3/lib/python3.6/site-packages (from xarray) (1.14.3)
Requirement already satisfied: pandas>=0.19.2 in /anaconda3/lib/python3.6/site-packages (from xarray) (0.23.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/lib/python3.6/site-packages (from pandas>=0.19.2->xarray) (2.7.3)
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.6/site-packages (from pandas>=0.19.2->xarray) (2018.4)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas>=0.19.2->xarray) (1.11.0)

In [3]:
SHEETs = [# All Food
          ("https://docs.google.com/spreadsheet/ccc?key=1nkwKO01nDmLCHqiq4cE1N1LQYM-oNgrvhkwB92PCtE4","All"), 
         ]

## Minimum Cost Diet

In [4]:
import ndb
import pandas as pd
import warnings

DFs = []
#for csv in CSVs:  # Uncomment to use a list of csv files as inputs
#  DFs.append(pd.read_csv(csv,dtype=str))

try:
    if len(SHEETs):
        for ID, RANGE_NAME in SHEETs:
            try:
                if "docs.google.com" in ID:
                    sheet = "%s&output=csv" % ID
                else:
                    sheet = "https://docs.google.com/spreadsheet/ccc?key=%s&output=csv" % ID
                DFs.append(pd.read_csv(sheet))
            except ParserError:
                warnings.warn("Can't read sheet at https://docs.google.com/spreadsheets/d/%s.\nCheck Sharing settings, so that anyone with link can view?" % ID)
except NameError: # SHEETS not defined?
    pass

df = pd.concat(DFs,ignore_index=True,sort=False)
# Some columns which ought to be numeric are actually str; convert them
df['Price'] = df['Price'].astype(float)
df['Quantity'] = df['Quantity'].astype(float)
df["Units"] = df["Units"].astype(str)
df["Value"] = df["Value"].dropna().astype(int).astype(str)
df["NDB"][df['Food'].str.contains("Milk shakes and other dairy drinks")] = str("01110")
df["NDB"] = df["NDB"].dropna()

prices_df = df

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
values = df["Value"].tolist()
names = df["Food"].tolist()
value_name_dict = dict(zip(values,names))

In [6]:
user = "atwater"
apikey = {'atwater':"ekh9KVmwQxokFmje0yDKJsSdG5PCuxWpXphJMEB3"}
age_list = ["C 1-3", "F 4-8", "M 4-8", "F 9-13", "M 9-13", "F 14-18", "M 14-18", "F 19-30", "M 19-30",\
            "F 31-50", "M 31-50", "F 51+", "M 51+"]
#http://www.censusscope.org/us/chart_age.html
age_breakdown = [6.82, 3.56, 3.74, 3.56, 3.74, 3.49, 3.69, 6.71, 6.92,\
                15.32, 15.15, 15.01, 12.32]
    
    
import ndb
D = {}

for food in  df.Food.tolist():
    try:
        NDB = df.loc[df.Food==food,:].NDB
        D[food] = ndb.ndb_report(apikey[user],NDB).Quantity
    except AttributeError: 
        warnings.warn("Couldn't find NDB Code %s for food %s." % (food,NDB))
        

D = pd.DataFrame(D,dtype=float)

D = D.reindex(sorted(D.columns), axis=1)

D

,Apple juice,Apples,Baby food: cereals,Baby food: fruit,Baby food: meat and dinners,Baby food: snacks and sweets,Baby food: vegetable,Bacon,Bagels and English muffins,Bananas,...,Tortillas,"Turkey, duck, other poultry",Turnovers and other grain-based items,Vegetable juice,Vegetable mixed dishes,"White potatoes, baked or boiled",Wine,Yeast breads,"Yogurt, low-fat and nonfat","Yogurt, whole and reduced fat"
Caffeine,NaN,NaN,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN
"Calcium, Ca",17.00,6.00,860.000,10.000,5.000,10.000,19.000,80.000,21.00,39.00,...,26.000,0.00,0.0,25.00,70.00,9.000,10.000,0.000,100.00,118.00
"Carbohydrate, by difference",46.67,14.29,83.140,13.600,2.430,13.600,5.230,1.890,53.68,67.50,...,46.510,3.57,75.0,5.83,26.29,15.540,3.800,42.860,9.33,14.12
Cholesterol,0.00,0.00,0.000,0.000,51.000,0.000,0.000,86.000,0.00,0.00,...,0.000,36.00,0.0,NaN,0.00,0.000,0.000,0.000,7.00,12.00
Energy,183.00,52.00,390.000,57.000,81.000,57.000,21.000,226.000,263.00,425.00,...,279.000,107.00,375.0,29.00,188.00,68.000,83.000,357.000,67.00,106.00
"Fatty acids, total monounsaturated",NaN,NaN,0.420,0.043,0.950,0.043,0.012,6.223,NaN,NaN,...,3.490,NaN,NaN,NaN,NaN,NaN,0.000,5.360,NaN,NaN
"Fatty acids, total polyunsaturated",NaN,NaN,0.784,0.046,0.160,0.046,0.148,4.699,NaN,NaN,...,1.160,NaN,NaN,NaN,NaN,NaN,0.000,0.000,NaN,NaN
"Fatty acids, total saturated",0.00,0.00,0.234,0.010,1.180,0.010,0.052,4.520,0.00,12.50,...,0.000,0.00,0.0,NaN,0.70,0.000,0.000,7.140,NaN,1.76
"Fatty acids, total trans",0.00,0.00,0.000,NaN,NaN,NaN,NaN,0.184,0.00,0.00,...,0.000,0.00,0.0,NaN,0.00,0.000,NaN,0.000,NaN,0.00
"Fiber, total dietary",0.00,3.20,1.300,1.200,0.000,1.200,2.300,NaN,3.20,10.00,...,7.000,0.00,0.0,NaN,2.80,2.700,0.000,0.000,0.70,0.00
"Folate, DFE",NaN,NaN,230.000,1.000,8.000,1.000,7.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000,NaN,NaN,NaN
"Iron, Fe",0.60,0.19,53.010,0.200,0.980,0.200,0.200,1.400,1.52,5.75,...,2.330,1.29,0.0,0.15,0.85,0.680,0.200,2.570,NaN,0.00
"Magnesium, Mg",NaN,NaN,37.000,7.000,11.000,7.000,6.000,16.000,NaN,NaN,...,84.000,NaN,NaN,NaN,NaN,NaN,10.000,NaN,NaN,NaN
Niacin,NaN,NaN,23.006,0.130,2.495,0.130,0.250,4.032,NaN,NaN,...,4.651,NaN,NaN,NaN,NaN,NaN,0.090,2.857,NaN,NaN
"Phosphorus, P",NaN,NaN,273.000,13.000,93.000,13.000,21.000,222.000,NaN,NaN,...,270.000,NaN,NaN,NaN,NaN,NaN,18.000,NaN,NaN,NaN
"Potassium, K",350.00,110.00,281.000,51.000,187.000,51.000,129.000,349.000,NaN,855.00,...,223.000,NaN,NaN,246.00,NaN,405.000,59.000,NaN,153.00,176.00
Protein,0.00,0.32,6.650,0.300,12.030,0.300,0.600,15.940,10.53,5.00,...,11.630,17.86,0.0,0.83,5.63,2.030,0.360,3.570,8.00,3.53
Riboflavin,NaN,NaN,1.459,0.020,0.135,0.020,0.030,0.237,NaN,NaN,...,0.233,NaN,NaN,NaN,NaN,NaN,0.015,0.243,NaN,NaN
"Sodium, Na",0.00,0.00,32.000,6.000,41.000,6.000,48.000,1069.000,432.00,0.00,...,419.000,750.00,8000.0,100.00,319.00,17.000,5.000,821.000,47.00,53.00
"Sugars, total",45.00,10.39,4.850,8.660,0.000,8.660,2.500,NaN,2.11,42.50,...,2.330,3.57,25.0,4.58,1.41,1.350,3.800,7.140,8.67,9.41
Thiamin,NaN,NaN,1.195,0.010,0.013,0.010,0.020,0.030,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.020,0.000,NaN,NaN
Total lipid (fat),0.00,0.00,2.190,0.100,2.520,0.100,0.300,16.930,0.53,22.50,...,5.810,1.79,0.0,0.00,6.57,0.000,0.000,16.070,0.00,3.53
"Vitamin A, IU",NaN,NaN,0.000,21.000,0.000,21.000,14710.000,34.000,0.00,NaN,...,NaN,0.00,0.0,8333.00,469.00,NaN,0.000,0.000,NaN,588.00
"Vitamin A, RAE",NaN,NaN,0.000,1.000,0.000,1.000,736.000,10.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN
Vitamin B-12,NaN,NaN,4.600,0.000,1.260,0.000,0.000,1.190,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.010,NaN,NaN,NaN
Vitamin B-6,NaN,NaN,0.885,0.040,0.039,0.040,0.050,0.244,NaN,NaN,...,0.465,NaN,NaN,NaN,NaN,0.203,0.037,NaN,NaN,NaN
"Vitamin C, total ascorbic acid",120.00,NaN,2.400,31.300,2.100,31.300,0.700,NaN,0.00,NaN,...,NaN,0.00,0.0,NaN,1.70,9.500,0.000,0.000,NaN,0.00
Vitamin D,0.00,0.00,341.000,0.000,15.000,0.000,0.000,NaN,NaN,0.00,...,0.000,NaN,NaN,NaN,NaN,0.000,0.000,NaN,NaN,71.00
Vitamin D (D2 + D3),NaN,NaN,8.500,0.000,0.400,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN
Vitamin E (alpha-tocopherol),NaN,NaN,5.000,0.110,0.370,0.110,0.590,0.110,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN
Vitamin K (phylloquinone),NaN,NaN,0.500,4.000,0.600,4.000,7.900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN
Water,NaN,NaN,5.130,85.600,82.440,85.600,93.500,61.830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,86.400,NaN,NaN,NaN
"Zinc, Zn",NaN,NaN,10.920,0.090,2.220,0.090,0.200,2.540,NaN,NaN,...,2.330,NaN,NaN,NaN,NaN,NaN,0.110,NaN,NaN,NaN

In [7]:
# Convert food quantities to NDB units
df['NDB Quantity'] = df[['Quantity','Units']].T.apply(lambda x : ndb.ndb_units(x['Quantity'],x['Units']))

# Now may want to filter df by time or place--need to get a unique set of food names.
df['NDB Price'] = df['Price']/df['NDB Quantity']

df.dropna(how='any') # Drop food with any missing data

# To use minimum price observed
Prices = df.groupby('Food')['NDB Price'].min()

In [8]:
# Choose sex/age group:
group = "M 19-30"

# Define *minimums*
bmin = pd.read_csv('./diet_minimums.csv').set_index('Nutrition')[group]

# Define *maximums*
bmax = pd.read_csv('./diet_maximums.csv').set_index('Nutrition')[group]

In [9]:

from  scipy.optimize import linprog as lp
import numpy as np

tol = 1e-6 # Numbers in solution smaller than this (in absolute value) treated as zeros

c = Prices.apply(lambda x:x.magnitude).dropna()

# Compile list that we have both prices and nutritional info for; drop if either missing
use = list(set(c.index.tolist()).intersection(D.columns.tolist()))
c = c[use]

# Drop nutritional information for foods we don't know the price of,
# and replace missing nutrients with zeros.
Aall = D[c.index].fillna(0)

# Drop rows of A that we don't have constraints for.
Amin = Aall.loc[bmin.index]

Amax = Aall.loc[bmax.index]

# Minimum requirements involve multiplying constraint by -1 to make <=.
A = pd.concat([-Amin,Amax])

b = pd.concat([-bmin,bmax]) # Note sign change for min constraints

# Now solve problem!
result = lp(c, A, b, method='interior-point')

# Put back into nice series
diet = pd.Series(result.x,index=c.index)

print("Cost of diet for %s is $%4.2f per day." % (group,result.fun))
print("\nYou'll be eating (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.

tab = pd.DataFrame({"Outcome":np.abs(A).dot(diet),"Recommendation":np.abs(b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol].index.tolist())

Cost of diet for M 19-30 is $6.23 per day.

You'll be eating (in 100s of grams or milliliters):
Food
Pork                                0.080020
Ready-to-eat cereal, lower sugar    1.768461
Carrots                             7.093442
Bananas                             2.570417
Tomatoes                            7.247020
Baby food: cereals                  1.012990
Eggs and omelets                    0.000001
Crackers, excludes saltines         0.069618
dtype: float64

With the following nutritional outcomes of interest:
                                    Outcome  Recommendation
Nutrition
Energy                          2600.000000          2400.0
Protein                           56.000000            56.0
Fiber, total dietary              78.673619            33.6
Folate, DFE                     2552.083610           400.0
Calcium, Ca                     2088.234999          1000.0
Carbohydrate, by difference      484.698277           130.0
Iron, Fe                         126.207461             8.0
Magnesium, Mg                    400.000000           400.0
Niacin                            67.962419            16.0
Phosphorus, P                   1315.086579           700.0
Potassium, K                    7291.606830          4700.0
Riboflavin                         2.498376             1.3
Thiamin                            8.214307             1.2
Vitamin A, RAE                  7818.901695           900.0
Vitamin B-12                      16.674647             2.4
Vitamin B-6                        5.905307             1.3
Vitamin C, total ascorbic acid   173.440018            90.0
Vitamin E (alpha-tocopherol)      15.000000            15.0
Vitamin K (phylloquinone)        120.000000           120.0
Zinc, Zn                          37.515402            11.0
Vitamin D                        600.000000           600.0
Sodium, Na                      2300.000000          2300.0
Energy                          2600.000000          2600.0

Constraining nutrients are:
['Protein', 'Magnesium, Mg', 'Vitamin E (alpha-tocopherol)', 'Vitamin K (phylloquinone)', 'Vitamin D', 'Sodium, Na', 'Energy']

In [13]:
hh_choice = pd.read_csv('faps_fafhnutrient_puf.csv', dtype=str)

In [14]:
hh_choice["food"] = hh_choice["usdafoodcat4"].map(value_name_dict)

In [15]:
hh_choice['gramstotal'] = hh_choice['gramstotal'].astype(float)

In [23]:
all_households = pd.read_csv('faps_household_puf.csv', dtype=str)

In [24]:
households = all_households["hhnum"].tolist()
regions = all_households["region"].tolist()
household_region_dict = dict(zip(households,regions))

In [25]:
hh_choice["region"] = hh_choice["hhnum"].map(household_region_dict)

In [26]:
hi = hh_choice.groupby(["hhnum","region", "food"])["gramstotal"].sum().unstack('food')
like = hi.reset_index().rename_axis(None, axis=1)

In [27]:
#like.insert(1, "year", [2013] * len(grouped))
like = like.rename(index=str, columns={"hhnum": "j", "year": "t", "region": "m"})
like.head()

,j,m,Apple juice,Apples,Baby food: cereals,Baby food: fruit,Baby food: meat and dinners,Baby food: snacks and sweets,Baby food: vegetable,Bacon,...,Tortillas,"Turkey, duck, other poultry",Turnovers and other grain-based items,Vegetable juice,Vegetable mixed dishes,"White potatoes, baked or boiled",Wine,Yeast breads,"Yogurt, low-fat and nonfat","Yogurt, whole and reduced fat"
0,100012,3,1489.36227,113.889794,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,109.936444,NaN,NaN,NaN,NaN
1,100015,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,544.950943,NaN,NaN
2,100024,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,348.0,NaN,NaN,NaN
3,100026,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,162.889894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100028,1,135.39657,113.889794,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,990.0,NaN,NaN,NaN,NaN,NaN

In [28]:
grouped = hh_choice.groupby(["hhnum","region", "food"])["gramstotal"].sum().unstack('food')
grouped = grouped.reset_index().rename_axis(None, axis=1)
grouped.insert(1, "year", [2013] * len(grouped))
grouped = grouped.rename(index=str, columns={"hhnum": "j", "year": "t", "region": "m"})

In [29]:
grouped

,j,t,m,Apple juice,Apples,Baby food: cereals,Baby food: fruit,Baby food: meat and dinners,Baby food: snacks and sweets,Baby food: vegetable,...,Tortillas,"Turkey, duck, other poultry",Turnovers and other grain-based items,Vegetable juice,Vegetable mixed dishes,"White potatoes, baked or boiled",Wine,Yeast breads,"Yogurt, low-fat and nonfat","Yogurt, whole and reduced fat"
0,100012,2013,3,1489.36227,113.889794,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,109.936444,NaN,NaN,NaN,NaN
1,100015,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,544.950943,NaN,NaN
2,100024,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,348.0,NaN,NaN,NaN
3,100026,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,162.889894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100028,2013,1,135.39657,113.889794,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,990.000000,NaN,NaN,NaN,NaN,NaN
5,100031,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,100040,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,816.480000,NaN,NaN,NaN,NaN,NaN
7,100049,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100053,2013,3,NaN,NaN,NaN,NaN,NaN,83.45,NaN,...,NaN,NaN,NaN,NaN,464.000000,NaN,NaN,52.900000,NaN,NaN
9,100054,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.000000,NaN,NaN
10,100055,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,100059,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,100060,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,100061,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,240.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,100067,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,100069,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,567.0,453.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,100074,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,100076,2013,2,NaN,347.035235,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,219.872889,NaN,113.741575,NaN,133.655135
18,100083,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,113.804594,NaN,NaN,NaN,NaN
19,100088,2013,2,186.00000,415.035235,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.741575,NaN,NaN
20,100093,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.741575,NaN,NaN
21,100104,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,100106,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.235294,NaN,NaN
23,100110,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,100114,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,100128,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.000000,NaN,NaN
26,100132,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,100138,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,100140,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,100146,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,90.471471,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4274,119932,2013,1,NaN,301.231938,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4275,119957,2013,1,1984.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4276,119965,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4277,119966,2013,3,135.39657,119.255648,NaN,NaN,NaN,42.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.000000,NaN,NaN
4278,119968,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4279,119970,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,168.430435,NaN,101.219804,NaN,NaN
4280,119974,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184.5,NaN
4281,119980,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,56.902297,176.4,NaN,NaN,NaN
4282,119982,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4283,119985,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4284,119987,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4285,119989,2013,3,NaN,113.889794,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,223.794167,NaN,NaN,NaN,NaN,NaN
4286,119991,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4287,119994,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1398.4,97.519288,NaN,NaN,NaN,NaN,NaN
4288,119998,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4289,120000,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,114.000000,NaN,NaN,453.600000,NaN,NaN
4290,120001,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4291,120005,2013,3,270.79314,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,109.936444,NaN,NaN,NaN,NaN
4292,120008,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,97.519288,NaN,NaN,38.575472,NaN,NaN
4293,120011,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4294,120014,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4295,120015,2013,1,186.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4296,120017,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4297,120029,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4298,120036,2013,2,248.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4299,120049,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4300,120067,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4301,120077,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,168.430435,NaN,NaN,NaN,NaN
4302,120078,2013,3,135.39657,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.741575,NaN,133.655135
4303,120080,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Household Data

In [30]:
hh_stats = pd.read_csv('faps_individual_puf.csv', dtype=str)

In [31]:
hh_stats = pd.read_csv('faps_individual_puf.csv', dtype=str)
hh_stats = hh_stats[["HHNUM", "SEX", "AGE_R"]]
hh_stats = hh_stats[hh_stats["AGE_R"] != 'D']
hh_stats['AGE_R'] = hh_stats['AGE_R'].astype(float)
def men_function(x):
    if float(x["AGE_R"]) >= 18 and x["SEX"] == '1':
        return 1
    return 0
def boy_function(x):
    if float(x["AGE_R"]) < 18 and x["SEX"] == '1':
        return 1
    return 0
def women_function(x):
    if float(x["AGE_R"]) >= 18 and x["SEX"] == '2':
        return 1
    return 0
def girl_function(x):
    if float(x["AGE_R"]) < 18 and x["SEX"] == '2':
        return 1
    return 0
#hh_stats["ADULT"] = hh_stats["AGE_R"].apply(over_eighteen)
hh_stats["Men"] = hh_stats.apply(men_function, axis=1)
hh_stats["Women"] = hh_stats.apply(women_function, axis=1)
hh_stats["Boys"] = hh_stats.apply(boy_function, axis=1)
hh_stats["Girls"] = hh_stats.apply(girl_function, axis=1)


hh_stats.head(30)

     HHNUM SEX  AGE_R  Men  Women  Boys  Girls
0   100012   1   47.5    1      0     0      0
1   100012   2   47.5    0      1     0      0
2   100012   1   27.5    1      0     0      0
3   100012   2   13.5    0      0     0      1
4   100012   1    9.5    0      0     1      0
5   100015   1   62.5    1      0     0      0
6   100024   2   47.5    0      1     0      0
7   100024   1   16.5    0      0     1      0
8   100026   2   27.5    0      1     0      0
9   100026   1   27.5    1      0     0      0
10  100026   1   47.5    1      0     0      0
11  100028   2   47.5    0      1     0      0
12  100028   1   47.5    1      0     0      0
13  100028   1   27.5    1      0     0      0
14  100028   1   27.5    1      0     0      0
15  100028   1    9.5    0      0     1      0
16  100028   2   27.5    0      1     0      0
17  100028   2    0.0    0      0     0      1
18  100031   2   68.0    0      1     0      0
19  100031   1   62.5    1      0     0      0
20  100040   1   47.5    1      0     0      0
21  100040   2   68.0    0      1     0      0
22  100049   1   27.5    1      0     0      0
23  100049   1   27.5    1      0     0      0
24  100049   1   27.5    1      0     0      0
25  100053   2   62.5    0      1     0      0
26  100053   1   47.5    1      0     0      0
27  100054   1   47.5    1      0     0      0
28  100054   2   27.5    0      1     0      0
29  100054   1    5.0    0      0     1      0

In [32]:
def household_size(x):
    return np.log(x["Men"] + x["Women"] + x["Boys"] + x["Girls"])

In [33]:
hh_stats = hh_stats[["HHNUM", "Men", "Women", "Boys", "Girls"]]
hh_stats_grouped = hh_stats.groupby("HHNUM").sum().reset_index()
region_col = hh_stats_grouped["HHNUM"].map(household_region_dict)
hh_stats_grouped.insert(1, "region", region_col)
hh_stats_grouped.insert(1, "year", [2013] * len(hh_stats_grouped))
hh_stats_grouped["logHsize"] = hh_stats_grouped.apply(household_size, axis=1)
hh_stats_grouped = hh_stats_grouped.rename(index=str, columns={"HHNUM": "j", "year": "t", "region": "m"})
hh_stats_grouped

           j     t  m  Men  Women  Boys  Girls  logHsize
0     100012  2013  3    2      1     1      1  1.609438
1     100015  2013  3    1      0     0      0  0.000000
2     100024  2013  2    0      1     1      0  0.693147
3     100026  2013  3    2      1     0      0  1.098612
4     100028  2013  1    3      2     1      1  1.945910
5     100031  2013  1    1      1     0      0  0.693147
6     100040  2013  3    1      1     0      0  0.693147
7     100049  2013  2    3      0     0      0  1.098612
8     100053  2013  3    1      1     0      0  0.693147
9     100054  2013  4    1      1     2      0  1.386294
10    100055  2013  3    1      1     1      1  1.386294
11    100059  2013  4    1      1     2      0  1.386294
12    100060  2013  2    1      1     0      0  0.693147
13    100061  2013  3    0      1     0      0  0.000000
14    100067  2013  2    1      1     3      1  1.791759
15    100069  2013  4    2      1     0      1  1.386294
16    100073  2013  1    1      1     0      0  0.693147
17    100074  2013  1    4      1     0      0  1.609438
18    100076  2013  2    1      1     1      1  1.386294
19    100083  2013  2    0      1     0      0  0.000000
20    100088  2013  2    1      1     0      1  1.098612
21    100093  2013  4    1      1     0      3  1.609438
22    100095  2013  2    0      1     0      0  0.000000
23    100104  2013  4    1      1     0      1  1.098612
24    100106  2013  3    0      1     1      1  1.098612
25    100107  2013  1    2      1     0      1  1.386294
26    100110  2013  1    2      3     0      0  1.609438
27    100114  2013  1    1      0     0      0  0.000000
28    100128  2013  2    1      1     0      0  0.693147
29    100132  2013  1    2      2     1      2  1.945910
...      ...   ... ..  ...    ...   ...    ...       ...
4796  119946  2013  2    1      1     2      2  1.791759
4797  119957  2013  1    1      1     1      0  1.098612
4798  119965  2013  2    0      1     0      0  0.000000
4799  119966  2013  3    1      1     1      0  1.098612
4800  119968  2013  3    1      0     0      0  0.000000
4801  119970  2013  1    0      1     0      0  0.000000
4802  119974  2013  3    2      1     1      1  1.609438
4803  119980  2013  1    0      1     0      0  0.000000
4804  119982  2013  2    0      4     0      0  1.386294
4805  119985  2013  3    0      1     1      0  0.693147
4806  119987  2013  2    0      1     0      0  0.000000
4807  119989  2013  3    1      0     1      1  1.098612
4808  119991  2013  4    2      2     1      0  1.609438
4809  119994  2013  3    2      1     0      0  1.098612
4810  119998  2013  3    0      1     0      0  0.000000
4811  120000  2013  4    1      1     0      0  0.693147
4812  120001  2013  2    0      1     0      0  0.000000
4813  120005  2013  3    1      1     1      0  1.098612
4814  120008  2013  3    2      2     1      0  1.609438
4815  120011  2013  2    2      1     0      1  1.386294
4816  120014  2013  3    1      1     0      1  1.098612
4817  120015  2013  1    1      1     0      0  0.693147
4818  120017  2013  3    2      0     0      0  0.693147
4819  120029  2013  3    1      1     1      0  1.098612
4820  120036  2013  2    1      1     0      1  1.098612
4821  120049  2013  3    0      1     1      0  0.693147
4822  120067  2013  3    4      1     1      1  1.945910
4823  120077  2013  3    0      1     0      0  0.000000
4824  120078  2013  3    0      1     1      0  0.693147
4825  120080  2013  3    0      1     0      0  0.000000

[4826 rows x 8 columns]

In [34]:
import pandas as pd
import numpy as np

x = grouped

# Change 'ICRISAT' to key of your own sheet in Sheets, above
z = hh_stats_grouped

# Assume a single market: (Comment this out to make each village its own market)
#z['m'] = 1
#x['m'] = 1

# Take logs of expenditures; call this y
y = np.log(x.replace(0,np.nan).set_index(['j','t','m']))

z.set_index(['j','t','m'],inplace=True)

In [35]:
prices_cleaned = prices_df["Price"].tolist() *4
food_names = prices_df["Food"].tolist() * 4
years = [2013] * len(food_names)
region = [1] * len(prices_df["Price"].tolist())
region.extend([2] * len(prices_df["Price"].tolist()))
region.extend([3] * len(prices_df["Price"].tolist()))
region.extend([4] * len(prices_df["Price"].tolist()))
prices_final = pd.DataFrame()
prices_final["t"] = years
prices_final["m"] = region
prices_final["i"] = food_names
prices_final["prices"] = prices_cleaned
prices_final.set_index(['t','m', 'i'],inplace=True)
#prices_final = prices_final.to_xarray().to_array()

In [36]:
prices_final = prices_final.squeeze()

In [37]:
#prices_final = prices_final.to_xarray()
prices_final

t     m  i
2013  1  Milk, whole                                 4.89
         Milk, reduced fat                           6.88
         Milk, low fat                               6.88
         Milk, non fat                               3.39
         Flavored milk,whole                         3.39
         Flavored milk, reduced fat                  1.99
         Flavored milk, low fat                      4.59
         Milk shakes and other dairy drinks          3.00
         Milk substitutes                            5.69
         Cheese                                      6.99
         Cottage/ricotta cheese                      3.39
         Yogurt, whole and reduced fat               4.56
         Yogurt, low-fat and nonfat                  0.89
         Beef, excludes ground                      17.97
         Ground beef                                12.22
         Pork                                       11.96
         Lamb, goat, game                            9.09
         Liver and organ meats                       2.69
         Chicken, whole pieces                       6.99
         Chicken patties, nuggets and tenders        7.99
         Turkey, duck, other poultry                 5.99
         Fish                                       12.99
         Shellfish                                   6.99
         Eggs and omelets                            3.06
         Cold cuts and cured meats                   8.99
         Bacon                                       3.50
         Frankfurters                                1.50
         Sausages                                    4.59
         Beans, peas, legumes                        5.90
         Nuts and seeds                              7.99
                                                    ...
      4  Coffee                                      1.55
         Tea                                         6.39
         Beer                                       10.99
         Wine                                        9.59
         Liquor and cocktails                       10.99
         Tap water                                   3.76
         Bottled water                               6.39
         Flavored or cabonated water                 6.89
         Enhanced or fortified water                 3.28
         Butter and animal fats                      4.59
         Margarine                                   1.59
         Cream cheese, sour cream, whipped cream     2.09
         Cream and cream subsitutes                  5.69
         Mayonnaise                                  3.99
         Salad dressings and vegetable oils          2.99
         Tomato-based condiments                     2.49
         Soy-based condiments                        3.99
         Mustard and other condiments                5.79
         Olives, pickles, picked vegetables          2.29
         Pasta sauces, tomato-based                  4.09
         Dips, gravies, other sauces                 4.59
         Sugars and honey                            2.89
         Sugar substitutes                           4.59
         Jams, syrups, toppings                      5.79
         Baby food: cereals                          3.49
         Baby food: fruit                            2.29
         Baby food: vegetable                        1.19
         Baby food: meat and dinners                 1.49
         Baby food: snacks and sweets                1.09
         Formula, ready-to-feed                     34.49
Name: prices, Length: 568, dtype: float64

In [38]:
z.head()

               Men  Women  Boys  Girls  logHsize
j      t    m
100012 2013 3    2      1     1      1  1.609438
100015 2013 3    1      0     0      0  0.000000
100024 2013 2    0      1     1      0  0.693147
100026 2013 3    2      1     0      0  1.098612
100028 2013 1    3      2     1      1  1.945910

In [39]:
y.head(5)

,,,Apple juice,Apples,Baby food: cereals,Baby food: fruit,Baby food: meat and dinners,Baby food: snacks and sweets,Baby food: vegetable,Bacon,Bagels and English muffins,Bananas,...,Tortillas,"Turkey, duck, other poultry",Turnovers and other grain-based items,Vegetable juice,Vegetable mixed dishes,"White potatoes, baked or boiled",Wine,Yeast breads,"Yogurt, low-fat and nonfat","Yogurt, whole and reduced fat"
j,t,m,,,,,,,,,,,,,,,,,,,,,
100012,2013,3,7.306103,4.735231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.699902,NaN,NaN,NaN,NaN
100015,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.300696,NaN,NaN
100024,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.852202,NaN,NaN,NaN
100026,2013,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.093074,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100028,2013,1,4.908208,4.735231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.897705,NaN,NaN,NaN,NaN,NaN

In [40]:
import cfe
#!pip install CFEDemands --upgrade
#!pip install xarray

result = cfe.Result(y=y,z=z,prices = prices_final)

result

/anaconda3/lib/python3.6/site-packages/xarray/core/alignment.py:133: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  index = joiner(matching_indexes)

<xarray.Result>
Dimensions:           (i: 142, j: 4826, k: 5, m: 8, t: 1)
Coordinates:
  * m                 (m) object 1 2 3 4 '1' '2' '3' '4'
  * t                 (t) int64 2013
  * i                 (i) object 'Apple juice' ... 'Yogurt, whole and reduced fat'
  * j                 (j) object '100012' '100015' ... '120078' '120080'
  * k                 (k) <U8 'Men' 'Women' 'Boys' 'Girls' 'logHsize'
Data variables:
    alpha             object None
    beta              object None
    delta             object None
    prices            (t, m, i) float64 2.0 4.1 3.49 2.29 ... nan nan nan nan
    characteristics   (k, j, t, m) float64 nan nan nan nan ... nan nan 0.0 nan
    loglambdas        object None
    a                 object None
    yhat              object None
    ce                object None
    cehat             object None
    e                 object None
    delta_covariance  object None
    se_delta          object None
    se_beta           object None
    se_alpha          object None
    se_a              object None
    y                 (i, j, t, m) float64 nan nan nan nan ... nan nan nan nan
    logp              (t, m, i) float64 0.6931 1.411 1.25 0.8286 ... nan nan nan
    z                 (k, j, t, m) float64 nan nan nan nan ... nan nan 0.0 nan
Attributes:
    firstround:            2013
    min_proportion_items:  0.125
    min_xproducts:         30
    useless_expenditures:  True
    stderr_tol:            0.01
    indices:               Indices(j='j', t='t', m='m', i='i', k='k')
    verbose:               False

### First step of Estimation

Recall that there are two steps to estimation; the first step
involves estimating the &ldquo;reduced form&rdquo; linear regression 
$$
y_{it}^j = {a}_{it} + \delta_i'{z}^j_t + \epsilon_{it}^j.
$$

The Result class has code to estimate this in one line:

In [41]:
result.get_reduced_form()

After running this we can examine the estimated coefficients $\delta$:

In [42]:
result.delta.to_dataframe().unstack('k')

                                                     delta            \
k                                                     Boys     Girls
i
Apple juice                                       0.028696 -0.037768
Apples                                            0.161655  0.213194
Bananas                                           0.065761  0.081873
Beans, peas, legumes                             -0.053173 -0.123647
Beef, excludes ground                            -0.012953 -0.082544
Biscuits, muffins, quick breads                  -0.035651 -0.005618
Bottled water                                    -0.063765  0.126388
Burgers                                           0.026147  0.036440
Burritos and tacos                               -0.039704  0.019798
Cakes and pies                                    0.015125 -0.060040
Candy containing chocolate                       -0.164626 -0.018316
Candy not containing chocolate                    0.101219  0.017958
Carrots                                           0.183367  0.166409
Cheese                                           -0.053550 -0.004094
Chicken patties, nuggets and tenders              0.055979  0.045247
Chicken, whole pieces                            -0.091262 -0.135351
Chicken/turkey sandwiches                        -0.016832 -0.097657
Citrius fruits                                    0.120357  0.071736
Citrus juice                                      0.079422  0.065077
Coffee                                           -0.057212  0.003572
Cookies and brownies                              0.083972  0.056018
Corn                                             -0.020578 -0.104749
Diet soft drinks                                 -0.107423 -0.032295
Dips, gravies, other sauces                      -0.122112 -0.165603
Doughnuts, sweet rolls, pastries                 -0.044284 -0.079447
Egg/breakfast sandwiches                         -0.044568  0.010912
Eggs and omelets                                 -0.071283 -0.005172
Fish                                             -0.147958 -0.099952
Flavored milk, reduced fat                        0.011745  0.018853
French fries and other fried potatoes            -0.019016 -0.019286
...                                                    ...       ...
Milk, reduced fat                                 0.042087 -0.023880
Nachos                                            0.149954  0.168830
Other fruit juice                                 0.038347  0.033872
Other fruits and fruit salads                    -0.072972 -0.070888
Other mexican mixed dishes                        0.121264  0.089696
Other sandwiches                                  0.015016 -0.027388
Other vegetables and combinations                 0.008055  0.033479
Pancakes, waffles, French Toast                   0.062279 -0.036297
Pasta mixed dishes, excludes macaroni and cheese  0.069035  0.079295
Pizza                                             0.027792 -0.002289
Potato chips                                      0.129978  0.087505
Poultry mixed dishes                             -0.093932 -0.051744
Pretzels / snack mix                              0.027177  0.084104
Read to eat cereal, higher sugar                  0.016333 -0.041826
Rice                                             -0.003275 -0.042673
Rice mixed dishes                                -0.129568 -0.011645
Rolls and buns                                   -0.070563 -0.148848
Salad dressings and vegetable oils                0.131228  0.066524
Sausages                                         -0.085123 -0.086426
Soft drinks                                       0.025176  0.051753
Soups                                             0.040437 -0.003376
Sports and energy drinks                         -0.087172 -0.061241
Stir-fry and soy-based sauce mixtures             0.077613 -0.002779
String beans                                     -0.055366 -0.135723
Tap water                                        -0.019161 -0.119884
Tea                                              -0.061599 -0.023015
Tortilla, corn, and other chips                  -0.022125  0.097197
Vegetable mixed dishes                           -0.102602 -0.062093
White potatoes, baked or boiled                  -0.022966  0.035443
Yeast breads                                      0.044944  0.073862


k                                                      Men     Women  logHsize
i
Apple juice                                       0.025703 -0.023070  0.271712
Apples                                            0.095476  0.087634 -0.431094
Bananas                                           0.195405  0.119478 -0.317887
Beans, peas, legumes                             -0.092651 -0.089595  0.330199
Beef, excludes ground                            -0.021752 -0.071837  0.156066
Biscuits, muffins, quick breads                   0.003974  0.016000  0.154234
Bottled water                                     0.030398  0.011160 -0.003417
Burgers                                           0.144760  0.058422  0.170896
Burritos and tacos                                0.139745  0.046382  0.035893
Cakes and pies                                    0.035094 -0.011524  0.235159
Candy containing chocolate                       -0.197862 -0.102512  0.500313
Candy not containing chocolate                    0.113907  0.046920  0.046457
Carrots                                          -0.065745  0.039182 -0.065536
Cheese                                            0.016650 -0.089834  0.136892
Chicken patties, nuggets and tenders              0.036677 -0.023433  0.111280
Chicken, whole pieces                             0.070349 -0.004955  0.385798
Chicken/turkey sandwiches                         0.011707 -0.014025  0.279845
Citrius fruits                                   -0.082640  0.059770 -0.071605
Citrus juice                                      0.105934  0.135090 -0.168678
Coffee                                            0.029576  0.021622  0.134498
Cookies and brownies                              0.013688  0.119201  0.045116
Corn                                             -0.157191 -0.136918  0.445626
Diet soft drinks                                 -0.065090 -0.020273  0.356846
Dips, gravies, other sauces                       0.074262 -0.069690  0.138746
Doughnuts, sweet rolls, pastries                 -0.122361 -0.120073  0.399618
Egg/breakfast sandwiches                          0.062531  0.016980  0.145126
Eggs and omelets                                  0.096710  0.096342  0.002845
Fish                                             -0.005724 -0.181697  0.329244
Flavored milk, reduced fat                       -0.078571 -0.075215  0.441326
French fries and other fried potatoes            -0.043452 -0.039750  0.453153
...                                                    ...       ...       ...
Milk, reduced fat                                -0.024645 -0.000381  0.235008
Nachos                                            0.195445  0.118816 -0.457956
Other fruit juice                                -0.000677 -0.078919 -0.085862
Other fruits and fruit salads                    -0.179713 -0.101499  0.483206
Other mexican mixed dishes                        0.107541  0.088903 -0.162709
Other sandwiches                                  0.061505 -0.020152  0.149095
Other vegetables and combinations                 0.085540  0.052812 -0.029507
Pancakes, waffles, French Toast                   0.040195  0.001544  0.027609
Pasta mixed dishes, excludes macaroni and cheese  0.081427 -0.056382 -0.054449
Pizza                                             0.160883  0.062609 -0.011667
Potato chips                                      0.102241  0.036094  0.002756
Poultry mixed dishes                              0.086179  0.019710  0.135001
Pretzels / snack mix                              0.074285  0.141805 -0.300153
Read to eat cereal, higher sugar                 -0.018328  0.108103 -0.008737
Rice                                              0.008765 -0.049186  0.178485
Rice mixed dishes                                -0.090327 -0.163866  0.501526
Rolls and buns                                   -0.158056 -0.162624  0.621345
Salad dressings and vegetable oils                0.230110  0.173234 -0.263447
Sausages                                         -0.010507 -0.121134  0.344272
Soft drinks                                       0.067549  0.047692  0.328460
Soups                                             0.164604  0.117601 -0.162716
Sports and energy drinks                         -0.024701 -0.078210  0.234236
Stir-fry and soy-based sauce mixtures             0.142833  0.068659  0.005547
String beans                                     -0.142465 -0.137456  0.471710
Tap water                                        -0.108694 -0.144274  0.528140
Tea                                              -0.022281 -0.080961  0.303626
Tortilla, corn, and other chips                   0.093541  0.069784 -0.013331
Vegetable mixed dishes                           -0.056659 -0.060672  0.236118
White potatoes, baked or boiled                   0.090781  0.108020 -0.028198
Yeast breads                                      0.125969  0.135277 -0.294960

[68 rows x 5 columns]

Also the good-time constants $a_{it}$:

In [43]:
result.a.to_dataframe().unstack('i')

                 a                                           \
i      Apple juice    Apples   Bananas Beans, peas, legumes
t    m
2013 1         NaN       NaN       NaN                  NaN
     2         NaN       NaN       NaN                  NaN
     3         NaN       NaN       NaN                  NaN
     4         NaN       NaN       NaN                  NaN
     1    5.559769  5.233387  5.242449             5.122763
     2    5.446038  5.319677  5.273922             5.014240
     3    5.506452  5.285071  5.230273             5.183730
     4    5.442662  5.255823  5.181973             5.081373

                                                                            \
i      Beef, excludes ground Biscuits, muffins, quick breads Bottled water
t    m
2013 1                   NaN                             NaN           NaN
     2                   NaN                             NaN           NaN
     3                   NaN                             NaN           NaN
     4                   NaN                             NaN           NaN
     1              5.088013                        4.681985      6.697891
     2              5.272361                        4.591979      6.527038
     3              5.153441                        4.728660      6.673994
     4              5.165067                        4.661383      6.635897

                                                       ...                 \
i        Burgers Burritos and tacos Cakes and pies     ...          Soups
t    m                                                 ...
2013 1       NaN                NaN            NaN     ...            NaN
     2       NaN                NaN            NaN     ...            NaN
     3       NaN                NaN            NaN     ...            NaN
     4       NaN                NaN            NaN     ...            NaN
     1  5.308516           6.024735       4.968167     ...       6.085431
     2  5.461305           5.864774       5.079270     ...       5.831324
     3  5.486157           6.067765       4.964940     ...       5.882078
     4  5.468312           6.229552       4.982456     ...       6.081986

                                                                       \
i      Sports and energy drinks Stir-fry and soy-based sauce mixtures
t    m
2013 1                      NaN                                   NaN
     2                      NaN                                   NaN
     3                      NaN                                   NaN
     4                      NaN                                   NaN
     1                 6.804743                              5.457854
     2                 6.895639                              5.445593
     3                 6.891433                              5.291183
     4                 6.848321                              5.396877

                                                                         \
i      String beans Tap water       Tea Tortilla, corn, and other chips
t    m
2013 1          NaN       NaN       NaN                             NaN
     2          NaN       NaN       NaN                             NaN
     3          NaN       NaN       NaN                             NaN
     4          NaN       NaN       NaN                             NaN
     1     4.581364  6.748600  6.765936                        4.110188
     2     4.628199  6.828483  6.846014                        4.046643
     3     4.557228  6.781508  7.081982                        4.272387
     4     4.482208  6.805424  6.984176                        4.191528


i      Vegetable mixed dishes White potatoes, baked or boiled Yeast breads
t    m
2013 1                    NaN                             NaN          NaN
     2                    NaN                             NaN          NaN
     3                    NaN                             NaN          NaN
     4                    NaN                             NaN          NaN
     1               5.405348                        4.937693     4.501830
     2               5.333839                        5.043343     4.487551
     3               5.389961                        5.042652     4.514949
     4               5.367669                        4.881224     4.410087

[8 rows x 68 columns]

In [44]:
result.prices

<xarray.DataArray 'prices' (t: 1, m: 8, i: 68)>
array([[[2.  , 4.1 , ..., 2.29, 0.37],
        [2.  , 4.1 , ..., 2.29, 0.37],
        ...,
        [ nan,  nan, ...,  nan,  nan],
        [ nan,  nan, ...,  nan,  nan]]])
Coordinates:
  * m        (m) object 1 2 3 4 '1' '2' '3' '4'
  * t        (t) int64 2013
  * i        (i) <U48 'Apple juice' 'Apples' ... 'Yeast breads'

In [45]:
p = result.prices.sel(t=2013,m=1).copy()

p.to_dataframe().squeeze()

                                                  m     t  prices
i
Apple juice                                       1  2013    2.00
Apples                                            1  2013    4.10
Bananas                                           1  2013    1.44
Beans, peas, legumes                              1  2013    5.90
Beef, excludes ground                             1  2013   17.97
Biscuits, muffins, quick breads                   1  2013    5.19
Bottled water                                     1  2013    6.39
Burgers                                           1  2013   12.49
Burritos and tacos                                1  2013    3.00
Cakes and pies                                    1  2013    7.99
Candy containing chocolate                        1  2013    1.55
Candy not containing chocolate                    1  2013    3.39
Carrots                                           1  2013    2.29
Cheese                                            1  2013    6.99
Chicken patties, nuggets and tenders              1  2013    7.99
Chicken, whole pieces                             1  2013    6.99
Chicken/turkey sandwiches                         1  2013    1.97
Citrius fruits                                    1  2013    1.79
Citrus juice                                      1  2013    7.79
Coffee                                            1  2013    1.55
Cookies and brownies                              1  2013    5.69
Corn                                              1  2013    3.60
Diet soft drinks                                  1  2013    1.33
Dips, gravies, other sauces                       1  2013    4.59
Doughnuts, sweet rolls, pastries                  1  2013    5.39
Egg/breakfast sandwiches                          1  2013   11.29
Eggs and omelets                                  1  2013    3.06
Fish                                              1  2013   12.99
Flavored milk, reduced fat                        1  2013    1.99
French fries and other fried potatoes             1  2013    3.00
...                                              ..   ...     ...
Milk, reduced fat                                 1  2013    6.88
Nachos                                            1  2013    3.50
Other fruit juice                                 1  2013    4.09
Other fruits and fruit salads                     1  2013    5.60
Other mexican mixed dishes                        1  2013    2.00
Other sandwiches                                  1  2013    1.97
Other vegetables and combinations                 1  2013    6.88
Pancakes, waffles, French Toast                   1  2013    2.50
Pasta mixed dishes, excludes macaroni and cheese  1  2013    1.25
Pizza                                             1  2013    5.90
Potato chips                                      1  2013    4.49
Poultry mixed dishes                              1  2013    1.75
Pretzels / snack mix                              1  2013    4.59
Read to eat cereal, higher sugar                  1  2013    4.99
Rice                                              1  2013    1.09
Rice mixed dishes                                 1  2013    2.90
Rolls and buns                                    1  2013    2.40
Salad dressings and vegetable oils                1  2013    2.99
Sausages                                          1  2013    4.59
Soft drinks                                       1  2013    2.29
Soups                                             1  2013    3.39
Sports and energy drinks                          1  2013    1.00
Stir-fry and soy-based sauce mixtures             1  2013    3.39
String beans                                      1  2013    3.39
Tap water                                         1  2013    3.76
Tea                                               1  2013    6.39
Tortilla, corn, and other chips                   1  2013    4.49
Vegetable mixed dishes                            1  2013    3.00
White potatoes, baked or boiled                   1  2013    2.29
Yeast breads                                      1  2013    0.37

[68 rows x 3 columns]

In [46]:
x=5000

result.demands(x,p)

IndexError: index out of bounds